html, body {
    background-color: white;
}

.gallery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
}

.gallery-content h1 {
    text-align: center;
}

.gallery-content p {
    margin-top: 10px;
    text-align: justify;
}

.gallery-image {
    position: relative;
    transition: all .2s;
    > img {
        width: 400px;
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.gallery {
    padding: 0 5%;
    column-count: 4;
}

.container-fluid {
    margin: 80px 0;
    position: relative;
}

.mask {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: hidden;
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

/*

FOR MOBILES

*/
@media all and (max-width: 991px) and (min-width: 750px) {
    .gallery {
        column-count: 4;
    }
}
@media all and (max-width: 750px) and (min-width: 576px) {
    .gallery {
        column-count: 3;
    }
}
@media all and (max-width: 576px) and (min-width: 375px) {
    .gallery-content h1 {
        font-size: 2rem;
    }
    .gallery {
        column-count: 2;
    }
}

@media all and (max-width: 375px) and (min-width: 0px) {
    .gallery-content h1 {
        font-size: 2rem;
    }
    .gallery {
        column-count: 2;
    }
}