html, body {
    background-color: white;
}

.gallery-content {
    color: white;
    line-height: 1;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2% 5%;
}

.gallery-content h1 {
    text-align: center;
}

.gallery-content p {
    text-align: center;
}

.gallery-image {
    position: relative;
    transition: all .2s;
    > img {
        width: 400px;
        display: block;
        max-width: 100%;
        height: auto;
    }
}

.gallery {
    column-count: 4;
}

.gallery-fixed-container {
    position: relative;
    height: 100vh; /* Takes full viewport height */
    overflow: hidden;
}

.gallery-description-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
}

.gallery-description-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.gallery-video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
}

.container-fluid {
    min-height: 100vh;
    max-height: 100%;
    background-color: white;
    padding: 30px;
    position: relative;
}

.mask {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    overflow: hidden;
}

.image-source-link {
	color: #98C3D1;
}

.mfp-with-zoom .mfp-container,
.mfp-with-zoom.mfp-bg {
	opacity: 0;
	-webkit-backface-visibility: hidden;
	/* ideally, transition speed should match zoom duration */
	-webkit-transition: all 0.3s ease-out; 
	-moz-transition: all 0.3s ease-out; 
	-o-transition: all 0.3s ease-out; 
	transition: all 0.3s ease-out;
}

.mfp-with-zoom.mfp-ready .mfp-container {
		opacity: 1;
}
.mfp-with-zoom.mfp-ready.mfp-bg {
		opacity: 0.8;
}

.mfp-with-zoom.mfp-removing .mfp-container, 
.mfp-with-zoom.mfp-removing.mfp-bg {
	opacity: 0;
}

.back-icon {
    height: 20px;
    margin-right: 10px;
}

/*

FOR MOBILES

*/
@media all and (max-width: 991px) and (min-width: 750px) {
    .gallery {
        column-count: 4;
    }
}
@media all and (max-width: 750px) and (min-width: 576px) {
    .gallery {
        column-count: 3;
    }
}
@media all and (max-width: 576px) and (min-width: 375px) {
    .gallery-video {
        height: 100%;
    }
    .gallery {
        column-count: 2;
    }
    .gallery-fixed-container {
        aspect-ratio: 3 / 2;
        height: auto;
    }
    .gallery-description-container {
        height: auto;
    }
    .gallery-description-container img {
        height: auto;
        width: 100vw;
    }
}

@media all and (max-width: 375px) and (min-width: 0px) {
    .gallery-video {
        height: 100%;
    }
    .gallery {
        column-count: 2;
    }
    .gallery-fixed-container {
        aspect-ratio: 3 / 2;
        height: auto;
    }
    .gallery-description-container {
        height: auto;
    }
    .gallery-description-container img {
        height: auto;
        width: 100vw;
    }
}