html, body {
    background-color: white;
}

h1 { 
    font-size: 14rem; 
    font-family: 'Bebas Neue';
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    margin: 0;
    color: black;
}

.gallery {
    display: grid;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    min-height: 100vh;
    height: auto;
    margin: 0 auto;
    margin-bottom: 10%;
    background-color: white;
}

.img_container {
    margin: 20% 0 0 10%;
    width: 80%;
    position: relative;
}

.flex-column {
    width: auto;
    max-width: 260px;
    margin: 0px;
}

.container-fluid {
    margin: 80px 0;
    position: relative;
}

.mask {
    visibility: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    margin: 2px;
    /* height: 100%; */
    overflow: hidden;
    > .gallery-image {
        height: 100%;
        width: 100%;
        transform-origin: left;
        object-fit: cover;
    }
}

.mask > .gallery-image {
    margin: 5px;
}

.scale {
    transform: scaleY(1.05);
    padding-top: 5px; 
}

/*

FOR MOBILES

*/
@media all and (max-width: 576px) and (min-width: 375px) {
    .flex-column {
        width: 170px;
    }
}

@media all and (max-width: 375px) and (min-width: 0px) {
    .flex-column {
        width: 150px;
    }
}