@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antic+Didone&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baskervville:ital@0;1&family=Lora:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.cdnfonts.com/css/quote");

@font-face {
  font-family: "Sofia-Pro";
  src: url("fonts/SofiaProSemiBoldAz.otf");
}
@font-face {
  font-family: "Karla";
  src: url("fonts/Karla-Regular.ttf");
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

:root {
  --primary-background-color: #f6f7f2;
  --secondary-background-color: #ffffff;
  --primary-action-color: #86a8aa;
  --secondary-action-color: #daddcc;
  --primary-text-color: #2f3126;

  --header-font: "Baskervville", serif;
  --regular-font: "Lora", serif;
  --quote-font: "Quote", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  user-select: none;
  background: #050505;
  font-family: var(--regular-font);
}
h1 {
  font-size: 2.3rem;
  text-align: center;
  font-family: var(--header-font);
  font-weight: 500;
}
h3 {
  font-size: 1.5rem;
  font-family: var(--header-font);
}
h5 {
  font-size: 1rem;
}
html {
  background: #050505;
}
p {
  text-align: justify;
  font-size: 15px;
  font-family: var(--regular-font);
}
#home {
  width: 100%;
  height: 100vh;
  position: relative;
  /* overflow: hidden; */
}
.logo-video {
  height: 576px;
  width: 1024px;
}

.logo-image {
  padding: 2px;
  height: 40px;
  width: auto;
}

.home-link .logo-image {
  height: 32px;
}

.logo-image.white {
  filter: invert(100%) sepia(1%) saturate(4860%) hue-rotate(129deg)
    brightness(113%) contrast(101%);
}

.parallax-slider .swiper-slide {
  position: relative;
  overflow: hidden;
}

.testimonial-slider-container .swiper-slide {
  position: relative;
  overflow: hidden;
}

.parallax-slider .img-container {
  /* position: absolute; */
}

.img-container img {
  height: 100vh;
  width: 100vw;
  /* object-fit: contain; */
  object-fit: cover;
}

.testimonial-slider-container .testimonial-content {
  position: absolute;
}

.slider-controls {
  position: absolute;
  /* right:5%; */
  bottom: 50%;
  height: auto;
  width: 100%;
  /* display: flex; */
  /* flex-direction: row; */
}

/* -------------------------- */

section {
  position: relative;
  /* min-height: 100vh;
  min-width: 100vw;
  max-height: 100vh;
  max-width: 100vw; */
  height: 100vh;
  width: 100%;
  background-color: var(--primary-background-color);
}

div.landing-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  aspect-ratio: 3/2;
}

section.two {
  display: flex;
  justify-content: center;
  align-items: center;
  /*   opacity: 0.5; */
}

section.description-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--primary-background-color);
  padding: 5% 7%;
  height: auto;
}

section.description-containerp {
  text-align: justify;
}

section.description-container.header {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 100%;
  margin-top: 0px;
  text-align: center;
  z-index: 12;
}

.fixed-margin-100 {
  margin-top: 100px;
}

.description-image-cover {
  position: relative;
  width: 100%;
}

.description-image-cover img {
  border-radius: 10px;
  width: 100%;
  height: auto;
}

.description-image-cover.cover-1 {
  margin-top: 140px;
}

.description-image-cover.cover-2 {
  margin-top: 75px;
}

section.three {
  /* height: 120vh; */
  > .testimonial-container {
    overflow: hidden;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: space-between; */
    height: 100%;
    width: 100%;
    padding: 5% 7%;
    > .title {
      margin-bottom: 5%;
      display: flex;
      height: auto;
      width: 100%;
      align-items: center;
      justify-content: space-between;
      > .left {
        height: 100%;
        width: 40%;
      }
      > .right {
        height: 100%;
        width: 40%;
      }
    }
    > .testimonial-content-container {
      display: flex;
      justify-content: space-between;
      overflow: hidden;
      width: 100%;
      > .left {
        /* background-color: cadetblue; */
        height: 100%;
        width: 40%;
        flex-direction: column;
        overflow: hidden;
        border-radius: 10px;
        > .swiper-container {
          overflow: hidden;
          box-shadow: 0px 20px 40px 0px rgba(0, 0, 0, 0.2),
            0px 9px 40px 0 rgba(0, 0, 0, 0.19);
          height: 100%;
          > .swiper-wrapper {
            /* width: 200%; */
            > .swiper-slide {
              > .testimonial-image {
                height: 100%;
                width: 100%;
                object-fit: cover;
                /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
              }
            }
          }
        }
      }
      > .right {
        /* background-color: hotpink; */
        height: 100%;
        width: 40%;
        text-align: justify;
        overflow: hidden;
        > .swiper-container {
          overflow: hidden;
          height: 100%;
          > .swiper-wrapper > .swiper-slide {
            display: flex;
            flex-direction: column;
            justify-content: center;
            > .testimonial-content-title {
              margin-bottom: 5%;
            }
            > .testimonial-content-p {
              color: #1b1b1b;
            }
          }
        }
      }
    }

    /* > .swiper-container {
      overflow: hidden;
      > .swiper-wrapper > .swiper-slide {
        > .testimonial-content {
          display: flex;
          width: 100%;
          align-items: center;
          justify-content: space-between;
          
        }
      }
    } */
  }
}

.quote-text {
  position: relative;
}
.testimonial-text-wrapper {
  transition: all 0.3s;
}
.swiper-slide.swiper-slide-next .testimonial-text-wrapper,
.swiper-slide.swiper-slide-prev .testimonial-text-wrapper {
  opacity: 0;
}
.swiper-slide.swiper-slide-active .testimonial-text-wrapper {
  opacity: 1;
}

blockquote {
  /* font-style: italic; */
  text-align: justify;
  /* font-family: var(--quote-font); */
}
blockquote:before {
  content: open-quote;
  top: -0.2em;
}
blockquote:after {
  bottom: 0.2em;
  content: close-quote;
}
blockquote:before,
blockquote:after {
  display: inline-block;
  vertical-align: bottom;
  color: orange;
  font-size: 2em;
  line-height: 0em;
  position: relative;
}

section.about-us {
  overflow-x: hidden;
  background-color: var(--secondary-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100%;
  padding: 5% 7%;
  > h1 {
    z-index: 10;
  }
}

.members-details-container {
  display: flex;
  flex-direction: column;
}

.member-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.member-container.m0 {
  /* padding: 3% 8%; */
  text-align: center;
  > p {
    text-align: center;
  }
}

.member-image-container {
  width: 300px;
  height: 300px;
  overflow: hidden;
}

.member-content {
  width: 100%;
  overflow: hidden;
}

.member-content {
  text-align: start;
}

.member-content p {
  text-align: justify;
}

.member-card {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 0 0 10px 10px;
  width: 28%;
  margin: 2%;
  > h4 {
    text-align: center;
  }
  > p {
    text-align: justify;
  }
}

.member-content-container {
  width: 60%;
}

.width-separator {
  height: 100%;
  width: 5%;
}

.height-separator {
  width: 100%;
  height: 40px;
}

.member-image {
  width: 300px;
  height: 300px;
  object-fit: cover;
  text-align: justify;
}

section.contact-us {
  padding: 5% 0%;
  background-color: var(--primary-background-color);
  height: 100%;
}

.contact-details {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.contact-details > div {
  width: 100%;
}

.contact-details p {
  word-wrap: break-word;
}

.details-heading {
  font-weight: bold;
  font-size: 16px;
  margin-bottom: 2px;
  text-transform: uppercase;
}

.google-map-container {
  width: 50%;
  /* margin-left: 10%; */
  /* margin-top: 10px; */
  /* margin-bottom: 20px; */
  overflow: hidden;
}

#googleMap {
  /* border: 1px solid #484848; */
  width: 100%;
  height: 100%;
  border-radius: 0 15px 15px 0;
}

.form-fields {
  overflow: hidden;
  width: 50%;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-description-1,
.contact-description-2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-description-2 {
  margin-top: 75px;
}

.contact-description-1 p,
.contact-description-2 p {
  width: 100%;
}

.form-data-container {
  border-radius: 15px;
  background-color: var(--secondary-background-color);
  display: flex;
  width: 84%;
  height: auto;
  margin-bottom: 25px;
  -webkit-box-shadow: 0px 21px 41px -25px rgba(0, 0, 0, 0.18);
  box-shadow: 0px 21px 41px -25px rgba(0, 0, 0, 0.18);
}

.testimonials-bg-rect-design {
  top: 0;
  height: 90%;
  width: 65%;
  background-color: var(--secondary-background-color);
  bottom: 0;
  right: 0;
  position: absolute;
  border-radius: 20px 0 0 20px;
}

.testimonials-bg-rect-design.left-top {
  right: auto;
  left: 0;
  top: 0;
  bottom: auto;
  border-radius: 0 20px 20px 0;
}

section.category {
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-img {
  /* height: 50%;
  width: 50%; */
  height: 100%;
  width: 100%;
  object-fit: cover;

  /* transform-origin: left; */
}

.container-fluid {
  position: fixed;
}

.fixed-to-bottom {
  position: fixed;
  bottom: 0;
}

.category-image-container {
  /* visibility: hidden; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  /* max-width: 500px; */
  overflow: hidden;
}

.category-image-container h1,
h5 {
  text-align: center;
  color: whitesmoke;
  z-index: 10;
}

.category-image-container .arrow-icon {
  height: 35px;
  z-index: 10;
  margin-left: 15px;
}

.category-label-container {
  cursor: pointer;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
}

.category-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.swiper-pagination-container {
  position: absolute;
  bottom: 2%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  /* background-color: #b61071; */
}

.testimonial-container > .swiper-pagination-container {
  bottom: 0%;
}

.slider-pager {
  width: 100px;
  height: 25px;
  /* background-color: #041b4e; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.circle {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: darkgrey;
}

.circle.active {
  scale: 1.2;
  background-color: white;
}

.swiper-pagination {
  width: 100px;
  height: 25px;
  /* background-color: #041b4e; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.swiper-pagination-bullet {
  width: 7.5px;
  height: 7.5px;
  border-radius: 50%;
  background-color: darkgrey;
  opacity: 1;
}
.swiper-pagination-bullet-active {
  scale: 1.2;
  background-color: white;
}

/* -------------------------- */

.prev-ctrl,
.next-ctrl {
  height: auto;
  width: auto;
  text-align: center;
  /* padding: 10px; */
  background: transparent;
  outline: none;
  position: relative;
  left: auto;
  right: auto;
  cursor: pointer;
}
.slider-controls {
  background: rgb(0, 0, 0, 0.4);
  z-index: 10;
  /* margin-left:10px; */
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border-radius: 8px;
}

.parallax-slider {
  height: 100%;
  width: 100%;
}

.testimonial-slider-container {
  height: 100%;
  width: 100%;
}

.navigation {
  display: flex;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 15;
  /* color: rgb(245, 245, 245); */
  /* font-family: "Montserrat Alternates", sans-serif; */
  padding: 7px 20px;
  /* padding-top: 40px;
  padding-left: 40px; */
  font-size: 14px;
  width: 100%;
  background-color: var(--secondary-background-color);
  transition: top 0.3s;
  justify-content: space-between;
  box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.2);
}

/* ------------ */

.navigation.scroll {
  background-color: var(--primary-background-color);
  color: black;
  position: fixed;
}

.logo.center {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.navigation-links.hide {
  /* display: none; */
}

.navigation-links > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 0;
  > li {
    padding-left: 40px;
  }
}

/* Burger menu */
.navigation-burger-container {
  display: none;
}

.burger-menu-icon {
  visibility: hidden;
}

label {
  margin-bottom: 0;
}

.burger-menu-icon + label {
  position: fixed;
  /* top: 40px; */
  /* right: 40px; */
  right: 20px;
  height: 20px;
  width: 15px;
  z-index: 5;
  span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    margin-top: -1px;
    left: 0;
    display: block;
    background: black;
    transition: 0.5s;
  }
  span:first-child {
    top: 3px;
  }
  span:last-child {
    top: 16px;
  }
}
.burger-menu-icon:hover {
  cursor: pointer;
}
.burger-menu-icon:checked + label {
  span {
    opacity: 0;
    top: 50%;
  }
  span:first-child {
    opacity: 1;
    transform: rotate(405deg);
  }
  span:last-child {
    opacity: 1;
    transform: rotate(-405deg);
  }
}
.burger-menu-icon ~ nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  transition: 0.5s;
  transition-delay: 0.5s;
  overflow: hidden;
  > ul {
    top: -500px;
    text-align: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > li {
      cursor: pointer;
      opacity: 0;
      transition: 0.5s;
      transition-delay: 0s;
      text-decoration: none;
      color: black;
      font-weight: 400;
      display: block;
      padding: 30px;
    }
  }
}
.burger-menu-icon:checked ~ nav {
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  > ul {
    top: auto;
    > li {
      opacity: 1;
      transition-delay: 0.5s;
    }
  }
}

/* ------------------ */

.logo {
  display: inline-block;
  z-index: 10;
  /* color: rgb(245, 245, 245); */
  /* padding: 10px; */
  /* font-family: "Libre Bodoni", serif; */
  font-size: 20px;
  font-weight: 900;
  letter-spacing: 1px;
  border-radius: 4px;
}
.navigation-links {
  /* float: right; */
  /* padding: 10px; */
  width: 50%;
  /* padding-right: 40px; */
}
a {
  color: inherit;
  text-decoration: none;
  outline: none;
}
a:hover {
  color: inherit;
  text-decoration: none;
  outline: none;
}
li {
  list-style: none;
  /* padding-left: 40px; */
}
.links {
  cursor: pointer;
  opacity: 0.9;
  transition: all 0.4s ease;
}
.links:hover {
  opacity: 1;
}
.cursor {
  height: 50px;
  width: 50px;
  background: transparent;
  border-radius: 50%;
  pointer-events: none;
  border: 1px solid rgb(245, 245, 245);
  position: fixed;
  z-index: 10;
  top: -25px;
  left: -25px;
  opacity: 1;
  overflow: hidden;
  /* font-family: brook; */
  text-align: center;
  color: black;
  font-size: 16px;
}
.cursor-two {
  height: 8px;
  width: 8px;
  background: rgb(245, 245, 245);
  border-radius: 50%;
  pointer-events: none;
  position: fixed;
  z-index: 10;
  opacity: 1;
  top: -4px;
  left: -4px;
  transition: all 0.05s ease;
}
/* .swiper-pagination-container {
  position: relative;
  width: 100px;
  height: 70px;
  z-index: 10;
  padding: 10px;
}
.swiper-pagination {
  width: 100px;
  height: 2px;
  background: rgb(245, 245, 245, 0.2);
  opacity: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
} */
.slider-control-image {
  height: 30px;
}
/* .swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: rgb(245, 245, 245);
} */
.slide-text {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(245, 245, 245);
  font-size: 90px;
  text-align: center;
  /* font-family: bold; */
  font-weight: 900;
}
#home .social-media-links {
  position: absolute;
  left: 5%;
  bottom: 10%;
  color: rgb(245, 245, 245);
  z-index: 9;
}
.project .social-media-links {
  position: absolute;
  left: 2%;
  bottom: 5%;
  color: rgb(245, 245, 245);
  z-index: 0;
}
#about .social-media-links {
  position: absolute;
  right: 5%;
  bottom: 5%;
  color: rgb(245, 245, 245);
  z-index: 9;
}
#home .social-media-links ul,
#about .social-media-links ul,
.project .social-media-links ul {
  display: flex;
  flex-direction: row;
  font-size: 18px;
}
#home .social-media-links ul li,
#about .social-media-links ul li,
.project .social-media-links ul li {
  /* font-family: brook; */
  font-size: 18px;
}

#about {
  position: relative;
  height: 100vh;
  width: 100%;
  z-index: 9;
  display: none;
  transform: scale(0.9);
  overflow: hidden;
}
#about-color {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #041b4e;
  opacity: 0.5;
}

#breaker {
  background: #000000;
  position: fixed;
  height: 150vh;
  display: none;
  width: 100%;
  z-index: 11;
  transform: translateY(-100%);
  animation: breaker 2.5s;
}

@keyframes breaker {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.about-img {
  position: relative;
  width: 100%;
  height: 100vh;
  background: url(../images/about-pic.webp);
  background-position: center;
  background-size: cover;
}
.navigation-close-line {
  height: 22px;
  width: 2px;
  border-radius: 10px;
  background: rgb(245, 245, 245);
  position: absolute;
  transform: rotate(-45deg);
}
.navigation-close {
  padding: 20px;
  padding-top: 0px;
  cursor: pointer;
}
.navigation-close-line:nth-child(2) {
  transform: rotate(45deg);
}
.about-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
  padding: 100px;
  margin: 20px;
  position: relative;
  z-index: 5;
  color: rgb(245, 245, 245);
  /* font-family: poppins; */
}
.about-text-header {
  font-size: 28px;
  padding-bottom: 30px;
}
.about-text-button {
  padding-top: 20px;
  text-align: left;
  margin: 10px;
}
.about-text-paragraph {
  padding-bottom: 10px;
  font-size: 16px;
  opacity: 0.9;
  font-weight: 400;
}
.contact-button {
  padding: 10px 20px;
  background: rgb(245, 245, 245);
  outline: none;
  border: none;
  border-radius: 5px;
  font-weight: 600;
  opacity: 0.8;
  color: #041b4e;
  transition: all 0.4s ease;
}
.contact-button:hover {
  opacity: 1;
  transform: scale(1.05);
}
.project {
  height: 100vh;
  width: 100%;
  overflow: hidden;
  overflow: hidden;
  background: #050505;
  position: relative;
}
.slideshow {
  width: 95%;
  margin: auto;
  overflow: hidden;
  height: 80vh;
}
.slides,
.forest-slides,
.wildlife-slides,
.city-slides {
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease;
  position: absolute;
}
.controls {
  position: absolute;
  right: 5%;
  bottom: 5%;
  width: auto;
  height: auto;
  cursor: pointer;
}
.hover {
  cursor: pointer;
}
.imgs {
  cursor: pointer;
  height: 26px;
  width: 26px;
  transition: all 0.4s ease;
}
.controls button:hover img {
  transform: scale(1.4);
}
.slides img,
.forest-slides img,
.wildlife-slides img,
.city-slides img {
  width: auto;
  max-height: 70vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
  border-radius: 6px;
}
.navigation-project {
  position: absolute;
  z-index: 2;
}
.controls button {
  padding: 10px 10px;
  padding-left: 50px;
  background: transparent;
  color: rgb(245, 245, 245);
  transition: all 0.4s ease;
  outline: none;
  border: none;
  margin: 5px;
}
.project-link {
  cursor: default;
  padding: 100px;
  padding-left: 150px;
  padding-right: 150px;
}
.marine-project,
.forest-project,
.wildlife-project,
.city-project {
  display: none;
  transform: scale(0.9);
  overflow: hidden;
}
.project-name {
  font-size: 80px;
  /* font-family: bold; */
  color: rgb(245, 245, 245);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: rgb(0, 0, 0, 0.4);
  -webkit-backdrop-filter: blur(7px);
  backdrop-filter: blur(7px);
  pointer-events: none;
  font-weight: 900;
  z-index: 5;
}
.view-project {
  font-size: 18px;
  font-weight: 200;
  /* font-family: brook; */
  margin-top: -10px;
  opacity: 0.9;
  padding: 0;
}
.pace {
  pointer-events: none;
  user-select: none;
  z-index: 2000;
  position: fixed;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 400px;
  border: 0px;
  height: 1px;
  overflow: hidden;
  background: #1b1b1b;
}

.pace .pace-progress {
  box-sizing: border-box;
  transform: translate3d(0, 0, 0);
  max-width: 400px;
  position: fixed;
  z-index: 2000;
  display: block;
  position: absolute;
  top: 0;
  right: 100%;
  height: 100%;
  width: 100%;
  background: grey;
}

.pace.pace-inactive {
  display: none;
}

#preloader {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #050505;
  overflow: hidden;
  z-index: 1000;
  position: fixed;
  transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
  justify-content: center;
  align-items: center;
}

.p {
  position: absolute;
  margin-bottom: 100px;
  /* font-family: "Libre Bodoni", serif; */
  /* font-size: 50px; */
  /* font-weight: 900;
  letter-spacing: 1px;
  border-radius: 4px;

  font-size: 30px;
  color: rgb(245, 245, 245); */
}
#contact {
  min-height: 100vh;
  width: 100%;
  overflow: hidden;
  background: #050505;
  position: relative;
  z-index: 5;
  color: rgb(245, 245, 245);
  /* font-family: brook; */
  font-weight: 100;
  display: none;
  transform: scale(0.9);
}
.contact-social-media-links {
  padding-top: 30px;
  /* font-family: brook; */
  z-index: 5;
}
.contact-social-media-links ul li:nth-child(1) {
  padding-left: 0px;
}
.contact-social-media-links ul li:nth-child(3) {
  padding-right: 30px;
}
.contact-header {
  color: black;
  height: auto;
  padding: 10px 40px 40px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  width: 100%;
}
.form {
  padding: 10%;
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.input-line {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
input {
  background: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgb(83, 83, 83);
  outline: none;
  padding: 5px 2px;
  margin-bottom: 5px;
  font-size: 14px;
  /* width: 80%; */
  color: rgb(35, 35, 35);
  transition: all 0.2s ease;
}

.textarea {
  width: 100%;
  height: 150px;
  outline: none;
  background: transparent;
  border-radius: 0px;
  border: none;
  border-bottom: 1px solid rgb(83, 83, 83);
  padding: 5px 2px;
  margin-bottom: 5px;
  font-size: 14px;
  color: rgb(35, 35, 35);
  /* font-family: brook; */
  transition: all 0.2s ease;
}

.error-input {
  border-bottom: 1px solid #ed4337;
}

.input-container {
  width: 100%;
  padding: 8px 0;
  margin-bottom: 10px;
}

.input-container .hide {
  display: none;
}

.error-input-text {
  display: block;
  color: #ed4337;
}

.input-line-column {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input-line > .input-container {
  width: 100%;
}
.input-line-column input {
  width: 100%;
}
.input-same-line {
  width: 41%;
}

.input-line-container {
  display: flex;
  width: 84%;
  > .input-container {
    width: 100%;
    > .input-same-line {
      width: 100%;
    }
  }
}

::placeholder {
  color: rgb(170, 170, 170);
}
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family: brook; */
  justify-content: center;
  height: auto;
}
#submit {
  background: transparent;
  outline: none;
  border: 1px solid var(--primary-action-color);
  /* color: var(--primary-action-color); */
  color: white;
  padding: 10px 30px;
  font-size: 18px;
  margin: 20px;
  /* font-family: brook; */
  cursor: pointer;
  transition: all 0.4s ease;
  position: relative;
  overflow: hidden;
  z-index: 2;
}
#submit > img {
  margin-left: 10px;
  height: 25px;
  /* filter: invert(67%) sepia(6%) saturate(1099%) hue-rotate(135deg)
    brightness(97%) contrast(86%); */
  filter: invert(100%) sepia(1%) saturate(4860%) hue-rotate(129deg)
    brightness(113%) contrast(101%);
}
#submit:after {
  content: "";
  background: var(--primary-action-color);
  /* color: white; */
  color: var(--primary-action-color);
  left: 0;
  /* top: 100%; */
  top: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all 0.4s cubic-bezier(0.19, 1, 0.22, 1);
}
#submit:hover {
  /* color: white; */
  color: var(--primary-action-color);
  > img {
    /* filter: invert(100%) sepia(1%) saturate(4860%) hue-rotate(129deg)
      brightness(113%) contrast(101%); */
    filter: invert(67%) sepia(6%) saturate(1099%) hue-rotate(135deg)
      brightness(97%) contrast(86%);
  }
}
#submit:hover::after {
  /* top: 0; */
  top: 100%;
}
/* form .textarea:focus,
form .textarea:valid {
  border-bottom: 1px solid rgb(255, 255, 255, 1);
}
input:focus,
input:valid {
  border-bottom: 1px solid rgb(255, 255, 255, 1);
} */

#projects .swiper-container {
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  max-height: 70vh;
}
#projects .swiper-wrapper {
  height: 70vh;
}
.align-center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}

#projects .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: transparent;
  max-width: 60%;
  position: relative;
  height: auto;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}
#projects .swiper-slide img {
  width: auto;
  max-height: 70vh;
  position: absolute;
  margin: auto;
  pointer-events: none;
  border-radius: 6px;
}
.gg-mouse {
  box-sizing: border-box;
  position: relative;
  display: block;
  transform: scale(var(--ggs, 1));
  width: 16px;
  height: 24px;
  border: 2px solid rgb(245, 245, 245);
  border-radius: 10px;
}

.gg-mouse::after {
  content: "";
  display: block;
  box-sizing: border-box;
  position: absolute;
  border-radius: 3px;
  width: 2px;
  height: 6px;
  background: rgb(245, 245, 245);
  top: 3px;
  animation: mouse 2s linear infinite;
  left: 5px;
}
#projects .scroll-icon {
  bottom: 7%;
}
.scroll-icon {
  position: absolute;
  left: 50%;
  bottom: 10%;
  z-index: 2;
}

footer {
  position: relative;
  display: flex;
  justify-content: center;
  background-color: rgb(36, 36, 36);
  color: white;
  padding: 5%;
}

footer img {
  margin-bottom: 20px;
}

.footer-section-1 {
  width: 70%;
}

.footer-section-2 {
  font-size: 14px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-links {
  margin-bottom: 5px;
  width: 100%;
  cursor: pointer;
}

.footer-social-icon {
  height: 30px;
  width: auto;
}

.contact-group {
  justify-content: flex-start;
  display: flex;
  align-items: center;
}

.contact-group > .footer-social-icon {
  height: 25px;
  margin-right: 10px;
  margin-bottom: 0;
}

.footer-links-header {
  margin-bottom: 20px;
}

.control.left {
  margin-left: 20px;
  position: absolute;
  left: 0%;
}
.control.right {
  margin-right: 20px;
  position: absolute;
  right: 0%;
}

.call-us {
  z-index: 20;
  display: none;
}
.call-us .footer-social-icon {
  filter: invert(100%);
  height: 18px;
  margin-right: 5px;
  width: auto;
}
.call-us ul {
  margin: 0 40px 0 0;
}

@keyframes mouse {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes mouse {
  0% {
    transform: translateY(0%);
  }
  50% {
    transform: translateY(50%);
  }
  100% {
    transform: translateY(0%);
  }
}

/*

FOR MOBILES

*/
@media all and (max-width: 1160px) and (min-width: 0px) {
  .container-fluid {
    position: fixed;
  }
}

@media all and (max-width: 576px) and (min-width: 375px) {
  .logo-video {
    height: 180px;
    width: 320px;
  }
  h1 {
    font-size: 1.58rem;
  }
  h3 {
    font-size: 1.28rem;
  }
  p,
  blockquote {
    font-size: 13px;
  }
  section.description-container {
    padding: 10% 7%;
  }
  section.description-container.header {
    margin-bottom: -10%;
    position: relative;
  }
  .fixed-margin-100 {
    margin-top: 5%;
  }

  .p {
    font-size: 13px;
  }
  .parallax-slider .img-container {
    position: relative;
  }
  div.landing-page {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 3/2;
  }
  .img-container img {
    height: 100%;
    width: 100vw;
    /* object-fit: contain; */
    object-fit: cover;
  }
  .parallax-slider {
    height: 100%;
  }
  .swiper-pagination-bullet {
    height: 5px;
    width: 5px;
  }
  section.three {
    > .testimonial-container {
      padding: 10% 7%;
      > .title {
        > .left {
          width: 100%;
          > h1 {
            /* font-size: 2.1rem; */
          }
        }
        > .right {
          width: 0%;
        }
      }
      > .testimonial-content-container {
        > .left {
          width: 100%;
        }
        > .right {
          width: 100%;
          > .swipper-container
            > .swiper-wrapper
            > .swiper-slide
            > .testimonial-content-title
            > h4 {
            font-size: 0.2rem;
          }
        }
      }
    }
  }
  .testimonial-content-container {
    flex-direction: column;
  }
  .member-card {
    width: 100%;
  }
  .navigation-links {
    display: none;
  }
  .navigation-burger-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .call-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    font-size: 14px;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-left: 10px; */
  }
  .category-label-container {
    flex-direction: column;
  }
  .input-line-container {
    flex-direction: column;
  }
  .cursor,
  .cursor-two {
    display: none;
  }
  .navigation-links {
    padding-right: 0px;
    padding-left: 0px;
  }
  .logo {
    font-size: 14px;
    padding-left: 0px;
  }
  .project-link {
    cursor: default;
    padding: 40px;
    padding-left: 40px;
    padding-right: 40px;
  }
  .slider-control-image {
    height: 20px;
  }
  .slide-text {
    font-size: 70px;
  }
  #home .social-media-links {
    display: none;
  }
  .about-img {
    display: none;
  }
  .member-image {
    width: 100%;
    height: 100%;
  }
  .member-content-container {
    width: 100%;
  }
  .member-image-container {
    height: auto;
    width: auto;
  }
  .member-content,
  .member-content p {
    text-align: center;
  }
  .footer-links,
  .footer-links-header {
    text-align: center;
  }
  .contact-group {
    justify-content: center;
  }
  #about {
    background: url(../images/about-pic.webp);
    background-position: center;
    background-size: cover;
  }
  .about-text {
    padding: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 20px;
  }
  .about-text-header {
    font-size: 22px;
    padding-bottom: 10px;
  }
  .about-text-paragraph {
    padding-bottom: 10px;
    font-size: 16px;
  }
  .navigation-close-line {
    height: 16px;
    width: 2px;
  }
  .member-container {
    flex-direction: column;
  }
  .member-container.m2 {
    flex-direction: column-reverse;
  }
  .width-separator {
    height: 20px;
  }
  #about .social-media-links ul li {
    /* font-family: brook; */
    font-size: 16px;
  }
  .slides img,
  .forest-slides img,
  .wildlife-slides img,
  .city-slides img {
    width: auto;
    max-width: 95%;
    max-height: auto;
    position: absolute;
    margin: auto;
    border-radius: 8px;
  }
  section.about-us {
    padding: 10% 7%;
  }
  section.contact-us {
    padding: 10% 0%;
  }

  .controls button {
    padding: 10px 10px;
    margin: 5px;
  }
  .controls button:hover img {
    transform: scale(1);
  }
  .view-project {
    display: block;
  }
  .form-data-container {
    flex-direction: column;
  }
  #googleMap {
    border-radius: 0 0 15px 15px;
  }
  .google-map-container {
    height: 500px;
    width: 100%;
  }
  .form-fields {
    width: 100%;
  }
  .input-line {
    flex-direction: column;
  }
  .input-same-line {
    width: 83%;
  }
  .pace {
    width: 200px;
  }
  .textarea {
    height: 80px;
  }
  .form {
    height: auto;
  }
  .contact-header {
    padding: 10px 20px 40px 20px;
  }
  footer {
    flex-direction: column;
  }
  .footer-section-1 {
    width: 100%;
  }
  .footer-section-2 {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    > .col-center {
      width: 70%;
      align-items: center;
    }
  }
  .footer-links {
    text-align: center;
  }
  .contact-group > .footer-social-icon {
    height: 18px;
  }

  #projects .swiper-slide img {
    width: 100%;
    max-height: 70vh;
    position: absolute;
    margin: auto;
    pointer-events: none;
    border-radius: 6px;
  }
  .gg-mouse {
    display: none;
  }
  .control.left {
    margin-left: 0;
  }
  .control.right {
    margin-right: 0;
  }
}
/*
FOR EXTRA SMALL DEVICES
*/

@media all and (max-width: 375px) and (min-width: 0px) {
  .logo-video {
    height: 180px;
    width: 320px;
  }
  h1 {
    font-size: 1.4rem;
  }
  h3 {
    font-size: 1.1rem;
  }
  p,
  blockquote {
    font-size: 12px;
  }
  section.description-container {
    padding: 10% 7%;
  }
  section.description-container.header {
    margin-bottom: -10%;
    position: relative;
  }
  .fixed-margin-100 {
    margin-top: 5%;
  }
  .p {
    font-size: 12px;
  }
  .parallax-slider .img-container {
    position: relative;
  }
  div.landing-page {
    position: relative;
    width: 100%;
    height: auto;
    overflow: hidden;
    aspect-ratio: 3/2;
  }
  .img-container img {
    height: 100%;
    width: 100vw;
    /* object-fit: contain; */
    object-fit: cover;
  }
  .parallax-slider {
    height: 100%;
  }
  .swiper-pagination-bullet {
    height: 5px;
    width: 5px;
  }
  section.three {
    > .testimonial-container {
      padding: 10% 7%;
      > .title {
        > .left {
          width: 100%;
          > h1 {
            /* font-size: 2.1rem; */
          }
        }
        > .right {
          width: 0%;
        }
      }
      > .testimonial-content-container {
        > .left {
          width: 100%;
        }
        > .right {
          margin-top: 15px;
          width: 100%;
        }
      }
    }
  }
  .testimonial-content-container {
    flex-direction: column;
  }
  .slider-control-image {
    height: 20px;
  }
  .member-image {
    width: 100%;
    height: 100%;
  }
  .member-content-container {
    width: 100%;
  }
  .member-image-container {
    height: auto;
    width: auto;
  }
  .member-card {
    width: 100%;
  }
  .member-content,
  .member-content p {
    text-align: center;
  }
  .footer-links,
  .footer-links-header {
    text-align: center;
  }
  .contact-group {
    justify-content: center;
  }
  .navigation-links {
    display: none;
  }
  .navigation-burger-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .call-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    font-size: 14px;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-left: 10px; */
  }
  .category-label-container {
    flex-direction: column;
  }
  section.about-us {
    padding: 10% 7%;
  }
  section.contact-us {
    padding: 10% 0%;
  }
  .form-data-container {
    flex-direction: column;
  }
  #googleMap {
    border-radius: 0 0 15px 15px;
  }
  .google-map-container {
    height: 500px;
    width: 100%;
  }
  .form-fields {
    width: 100%;
  }
  .input-line-container {
    flex-direction: column;
  }
  .cursor,
  .cursor-two {
    display: none;
  }
  .project-link {
    cursor: default;
    padding: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .navigation-links {
    padding-right: 0px;
    padding-left: 0px;
  }
  .logo {
    font-size: 14px;
    padding-left: 0px;
  }
  .prev-ctrl,
  .next-ctrl {
    padding: 5px;
  }
  .slider-controls {
    /* display: none; */
    /* position: absolute;
    right:15%;
    bottom:10%;
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row; */
  }
  .slide-text {
    font-size: 70px;
  }
  #home .social-media-links {
    display: none;
  }
  .about-img {
    display: none;
  }
  #about {
    background: url(../images/about-pic.webp);
    background-position: center;
    background-size: cover;
  }
  .about-text {
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: 20px;
  }
  .about-text-header {
    font-size: 14px;
    padding-bottom: 10px;
  }
  .about-text-paragraph {
    padding-bottom: 10px;
    font-size: 12px;
  }
  .contact-button {
    padding: 8px 16px;
    background: #b61071;
    outline: none;
    font-size: 12px;
    border: none;
    border-radius: 5px;
    color: rgb(245, 245, 245);
  }
  #about .social-media-links ul li,
  .project .social-media-links ul li {
    font-size: 14px;
  }
  .navigation-close-line {
    height: 16px;
    width: 2px;
  }

  .member-container {
    flex-direction: column;
  }
  .member-container.m2 {
    flex-direction: column-reverse;
  }
  .width-separator {
    height: 20px;
  }

  .slides img,
  .forest-slides img,
  .wildlife-slides img,
  .city-slides img,
  .wildlife-slides img {
    width: 95%;
    max-height: auto;
    position: absolute;
    margin: auto;
    border-radius: 8px;
  }
  .controls button {
    padding: 10px 10px;
    margin: 5px;
  }
  .controls button:hover img {
    transform: scale(1);
  }
  .view-project {
    display: block;
  }

  .pace {
    width: 200px;
  }
  .contact-info-content {
    min-height: 50vh;
  }
  .contact-info {
    min-height: auto;
  }
  .form-data-container {
    flex-direction: column;
  }
  #googleMap {
    border-radius: 0 0 15px 15px;
  }
  .google-map-container {
    height: 500px;
    width: 100%;
  }
  .form-fields {
    width: 100%;
  }
  .input-line {
    flex-direction: column;
  }
  .input-same-line {
    width: 83%;
  }
  .textarea {
    height: 80px;
  }
  .form {
    height: auto;
  }
  .contact-header {
    padding: 10px 20px 40px 20px;
  }
  input {
    font-size: 15px;
  }
  .textarea {
    font-size: 15px;
    height: 50px;
    padding-bottom: 10px;
  }
  footer {
    flex-direction: column;
  }
  .footer-section-1 {
    width: 100%;
  }
  .footer-section-2 {
    font-size: 14px;
    flex-direction: column;
    align-items: center;
    > .col-center {
      width: 70%;
      align-items: center;
    }
  }
  .contact-group > .footer-social-icon {
    height: 18px;
  }
  #button {
    margin: 0px;
  }

  #projects .swiper-slide img {
    width: 100%;
    max-height: 70vh;
    position: absolute;
    margin: auto;
    pointer-events: none;
    border-radius: 6px;
  }
  .gg-mouse {
    display: none;
  }
  .control.left {
    margin-left: 0;
  }
  .control.right {
    margin-right: 0;
  }
}

@media all and (max-width: 750px) and (min-width: 576px) {
  .logo-video {
    height: 422px;
    width: 750px;
  }
  h1 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.4rem;
  }
  p,
  blockquote {
    font-size: 14px;
  }
  section.description-container.header {
    margin-bottom: -10%;
    position: relative;
  }
  .fixed-margin-100 {
    margin-top: 5%;
  }
  section.three {
    > .testimonial-container {
      > .title {
        > .left {
          width: 100%;
          > h1 {
            /* font-size: 2.1rem; */
          }
        }
        > .right {
          width: 0%;
        }
      }
      > .testimonial-content-container {
        > .left {
          width: 100%;
        }
        > .right {
          width: 100%;
        }
      }
    }
  }
  .testimonial-content-container {
    flex-direction: column;
  }
  .prev-ctrl,
  .next-ctrl {
    padding: 5px;
  }
  .p {
    font-size: 14px;
  }
  .member-card {
    width: 33%;
  }
  .member-content,
  .member-content p {
    text-align: center;
  }
  .navigation-links {
    display: none;
  }
  .navigation-burger-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .call-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    font-size: 14px;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-left: 10px; */
  }
  .member-container {
    flex-direction: column;
  }
  .member-container.m2 {
    flex-direction: column-reverse;
  }
  .width-separator {
    height: 20px;
  }
  .form-data-container {
    flex-direction: column;
  }
  #googleMap {
    border-radius: 0 0 15px 15px;
  }
  .google-map-container {
    height: 500px;
    width: 100%;
  }
  .form-fields {
    width: 100%;
  }
  .input-line-container {
    flex-direction: column;
  }
  footer {
    flex-direction: column;
  }
  .footer-section-1 {
    width: 100%;
  }
  .footer-section-2 {
    font-size: 14px;
  }
  .contact-group > .footer-social-icon {
    height: 18px;
  }
  .cursor,
  .cursor-two {
    display: none;
  }
  .about-img {
    display: none;
  }
  #about {
    background: url(../images/about-pic.webp);
    background-position: center;
    background-size: cover;
  }
  .slides img,
  .forest-slides img,
  .wildlife-slides img,
  .city-slides img {
    width: auto;
    max-width: 95%;
    max-height: auto;
    position: absolute;
    margin: auto;
    border-radius: 8px;
  }
  .view-project {
    display: block;
    font-size: 20px;
  }
  .pace {
    width: 300px;
  }
  .project-link {
    cursor: default;
    padding: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .gg-mouse {
    display: none;
  }

  #projects .swiper-slide img {
    width: 100%;
    max-height: 70vh;
    position: absolute;
    margin: auto;
    pointer-events: none;
    border-radius: 6px;
  }
}

/*
FOR TABLETS
*/

@media all and (max-width: 991px) and (min-width: 750px) {
  .logo-video {
    height: 450px;
    width: 800px;
  }
  h1 {
    font-size: 2.3rem;
  }
  h3 {
    font-size: 1.5rem;
  }
  p,
  blockquote {
    font-size: 14px;
  }
  .p {
    font-size: 14px;
  }
  .member-card {
    width: 28%;
  }
  .navigation-links {
    display: none;
  }
  .navigation-burger-container {
    display: flex;
    align-items: center;
    /* justify-content: center; */
  }
  .call-us {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .navigation {
    font-size: 14px;
    /* padding-top: 20px;
    padding-left: 20px;
    padding-left: 10px; */
  }
  .cursor,
  .cursor-two {
    display: none;
  }
  .about-img {
    display: none;
  }
  #about {
    background: url(../images/about-pic.webp);
    background-position: center;
    background-size: cover;
  }
  .slides img,
  .forest-slides img,
  .wildlife-slides img,
  .city-slides img {
    width: auto;
    max-width: 95%;
    max-height: auto;
    position: absolute;
    margin: auto;
    border-radius: 8px;
  }
  .view-project {
    display: block;
    font-size: 20px;
  }
  .pace {
    width: 300px;
  }
  .project-link {
    cursor: default;
    padding: 100px;
    padding-left: 100px;
    padding-right: 100px;
  }
  .gg-mouse {
    display: none;
  }

  #projects .swiper-slide img {
    width: 100%;
    max-height: 70vh;
    position: absolute;
    margin: auto;
    pointer-events: none;
    border-radius: 6px;
  }
}
